<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Gym</title>

</head>
<body id="body" style="
 background: url('../images/thegym.jpg'); background-size: cover; background-repeat: no-repeat; " onkeydown="handleKey(event)">
<iframe frameborder="0" style="position: absolute; left: 64px; top: 64px; width:60%;height:80%;" src="../images/TheGymWithGrafana.drawio.png"></iframe>