<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-frontend.css' />
  </head>
  <body>
    <a href="/app/home"><img class="icon"/></a>
    <h2 style="text-align:center">Welcome to The Gym</h2>
    <a  href="app/home"><h2 style="text-align:center">Please Enter</h2></a>
  </body>
</html>
