<head>
    <title>Alle Kurse</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  
<h1 style="text-align:center">Access restricted.</h1>
<a href="/app/home"><img id="img" class="icon"/></a>
  
<pre></pre>
</body>